extends layout

block content
  
  section.spacer
  section.slide
    h3 BÄCKE wants to disrupt the electronic device industry giving more power and options to the end consumer
    h3 With minimalism, function and user friendliness BÄCKE combines technology with lifestyle creating a new breed of electronic devices
    h3 And we'll start with making a smartphone 
  section.spacer
  
  section.slide
    p
      a(href="mailto:contact@bäcke.com") contact
    
  div.fixed.top
    h2 Near / Function / Casual
