extends layout

block content
  //
    section.spacer
    section.slide
      h3 Investment Highlights
      ul
        li Value creation
        p With minimalism, function and user friendliness BÄCKE combines technology with lifestyle creating a new breed of electronic devices.
        li Distribution model
        p Primarily online store, secondarly FASHION retailers.
        li Corner stones in place
        p Team and design ready for prototyping phase.
        li Scaleability
        p Through our third party buddy system we can license our technical platform.
        li Brand extension
        p We will extend our brand with products like: tablets, laptops, tvs and rideables.
  


  section.slide
    div.spacer  

  section.slide
    ul
      li “they are all too damn good nowadays for a new one to arrive and wow us with its excellence. but surely that makes design even more important, not less. if everyone can tout the same specs and capabilities, it will be the devices that just feels better that will win people over” - the verge


  section.slide
    img(src="http://data3.whicdn.com/images/79459292/large.jpg")
    
  section.slide
    h2 Challenges
    ul
      li Manufacturing
      li Quality 
      li Finance

  section.slide
    img(src="http://payload332.cargocollective.com/1/17/569400/8953717/tumblr_lrtbulfX9C1qzvp1uo1_1280_1000.jpg")
  
  section.slide
    h2 Market
    ul
      li Tech focused 
      li Most buyers not interested in tech
      li The future includes small niche brands

  section.slide
    img(src="http://www.stockholmskallan.se/ContentFiles/Import/SPM/2012/05/3/2017-A13456.jpg")
    
  section.slide
    h2 BÄCKE
    ul
      li Brand - Find your niche
      li Alternative competitive advantages
      li Create a design focused lifestyle brand 


  section.slide
    img(src="http://www.unoravanti.com/wp-content/uploads/2013/08/An-Incomplete-Dictionary-Of-Show-Birds-Luke-Stephenson1.jpg")

  section.slide
    h2 Competition?  
    ul
      li Oneplus
      p 1.5 million sold units year one 
      li Nextbit 
      p 1.4 million usd in sales on kickstarter
      li Fairphone 
      p 16 000 pre-sold units
    ul
      li market validation 
      
  section.slide
    img(src="https://scontent.cdninstagram.com/hphotos-xpf1/t51.2885-15/e15/1169780_731391020206995_901336426_n.jpg")
  
  section.slide
    h2 Business model  
    ul
      li Online
      li Stores 
      li Collabs 
 
      
  section.slide
    img(src="http://4.bp.blogspot.com/_3m3NCdrimEE/ShAmPlCvecI/AAAAAAAAByg/I5ryLN0qZAM/s320/Lennart+af+Petersens+1957+3.jpg")

  section.slide
    h2 Ambitions - markets
    ul
      li Scandinavia
      li Asia - China 
      li world
  
    
  section.slide
    img(src="http://thisiscolossal.com/wp-content/uploads/2011/08/photo.jpg")  

  section.slide
    h2 Where are we today?
      img(src="img/backe-pengar.png")
      
      
  section.slide
    h2 Challenges
    ul
      li Manufacturing
      li Quality 
      li Finance
      li Co-operation
        
  section.slide
    div.spacer     
    

      
   
      
    
