@import '_settings'

normalize-css()
base()

break-mobile = 400px

body
  padding 60px 20px 20px 20px
  box-sizing border-box

section
  height 100vh
  vertical-align center
  h1
    line-height 100vh
  &.intro
    overflow visible
    height 80vh
    img
      float right
      margin-top 4rem
      margin-bottom 90vh
      margin-right 2rem
      @media screen and (max-width break-mobile)
        float none
        margin-right 0
    h3
      max-width 600px
      @media screen and (max-width break-mobile)
        font-size 1.2rem
  &.slide
    position relative
    box-sizing border-box
    height auto
    &:last-of-type
      margin-bottom 70vh
    ul, h3, p
      max-width 600px
      margin 0 auto 0 auto
      @media screen and (max-width break-mobile)
        max-width 300px

    h3
      margin-bottom 1.2rem
    ul
      li + p
        margin-bottom 0.6rem

    img
      margin-top 4rem


h1
  font-size 7rem
  margin-top 2.6rem
  @media screen and (max-width break-mobile)
    font-size 5rem

h2
  font-weight 400
  font-size 1rem
  margin-bottom 0.1rem
  text-transform lowercase
  @media screen and (max-width break-mobile)
    font-size 1rem

h3
  font-weight 500
  font-size 1.6rem
  text-transform lowercase
  @media screen and (max-width break-mobile)
    font-size 1.6rem

p
  font-size 1.0rem
  line-height 1.6rem
  margin-top 0
  text-transform lowercase

ul
  text-transform lowercase
  padding 0
  li
    @extend h3
    list-style none
img
  display block
  max-width 98%
  margin-left auto
  margin-right auto
  margin-bottom 4rem
  @media screen and (max-width break-mobile)
    width 90%
  &.logo
    margin-top 1.6rem
    width 340px
    @media screen and (max-width break-mobile)
      width 100%
      margin-left -3px

div.ord
  pointer-events none
  z-index 9
  height 100vh
  width 100%
  box-sizing border-box
  position fixed
  top 0
  left 0
  padding-top 20px
  padding-left 20px

div.botten
  position absolute
  bottom 60px
  &.fixed
    position fixed

.background
  background-image url("../img/bg.svg")
  background-repeat repeat

.spacer
  height 40vh
  width 100%
  display block
